{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
<section class ="login overlay" data-stellar-background-ratio="0.5">
    <div class="container">
        <h1>Login</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
        <div class="panel-footer">
                        Don't have an account? <a href="{% url 'searchbar:register' %}">Click here</a> to register.
                    </div>
    </div>
    </section>
{% endblock %}